In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config import (user, password, host, port, database)

In [ ]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
connection = engine.connect()

In [ ]:
salaries = pd.read_sql('select * from salaries;', connection) # using sql code for now
salaries.head()

In [ ]:
min(salaries.salary)

In [ ]:

plt.figure(figsize=(14,8))
plt.hist(salaries.salary, bins=50, color='green')

plt.title('Most Common Salary Ranges for Employees')
plt.xlabel('Salary')
plt.ylabel('Number of Employees')

plt.show()

In [ ]:
by_title = pd.read_sql('select s.salary, t.title from salaries as s join employees as e on s.emp_no = e.emp_no join titles as t on e.emp_title_id = t.title_id;', connection)

In [ ]:
by_title.head()

In [ ]:
title_by = by_title.groupby('title')

In [ ]:
title_count = title_by.salary.count()

In [ ]:

plt.figure(figsize=(10,8))
plt.bar(height=title_count, x=title_count.index)
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()