In [ ]:
# Dependencies
import pandas as pd
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt
import numpy as np
from config import (user, password, host, port, database)

In [ ]:
# creating and connecting engine, Vroom Vroom
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
connection = engine.connect()

In [ ]:
# looking at just the salaries table and putting it into a df
salaries = pd.read_sql('select * from salaries;', connection) # using sql code for now
salaries.head()

In [ ]:
min(salaries.salary)

In [ ]:
# plotting salaries in a histogram to look at distriubution of salaries
plt.figure(figsize=(14,8))
# i am going to go with 50 bins to make it easy to see
plt.hist(salaries.salary, bins=50, color='green')

plt.title('Most Common Salary Ranges for Employees')
plt.xlabel('Salary')
plt.ylabel('Number of Employees')

plt.show()

This is interesting, weird that their is such a spike of salaries at the base of 40,000 and nothing below. I do not like it.

In [ ]:
# now i need ot look at both salary and title which are on different tables so i need to do a join which is why
# this line is so long.
by_title = pd.read_sql('select s.salary, t.title from salaries as s join employees as e on s.emp_no = e.emp_no join titles as t on e.emp_title_id = t.title_id;', connection)

In [ ]:
by_title.head()

In [ ]:
# grouping by title so i can plot
title_by = by_title.groupby('title')

In [ ]:
# i want to look at the average of salaries by title
title_count = title_by.salary.mean()

In [ ]:
# plotting bar graph
plt.figure(figsize=(10,8))
plt.bar(height=title_count, x=title_count.index, color='firebrick')

plt.title('Average Salary by Career Title')
plt.xlabel('Career Title')
plt.ylabel('Averege Salary')

plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

I guess I don't know how they define what Staff is but it seems to me that they should not be making more than the managers.